<script src="assets/cms/scripts/collection.js" type="text/javascript"></script>
<script src="assets/global/plugins/jstree/dist/jstree.min.js"></script>	
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<link rel="stylesheet" type="text/css" href="assets/global/plugins/jstree/dist/themes/default/style.min.css">
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Trang chủ</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#group_product">Quản lý Bộ sưu tập</a>
		</li>
	</ul>
				<!-- <div class="page-toolbar">
					<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
					</div>
				</div> -->
			</div>
			<div class="col-md-3">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-globe"></i>Danh sách bộ sưu tập
						</div>
						<div class="tools" id="loading_view">
							<img src="loading.gif" width="30px" height="30px">
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-toolbar">
							<div class="row">
								<div class="col-md-6">
									<div class="btn-group">
										<a class="btn green circle" onclick="clickAddNew()" data-toggle="modal" href="#large">Tạo mới</a>
									</div>
									</div>
								</div>
							</div>
								<div id="treeGroup" class="tree-demo"></div>
						</div>
					</div>
					
				</div>

				<div class="col-md-4">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption" id="titleDetail">
								Thêm mới/ Chỉnh sửa bộ sưu tập
							</div>
							<div class="tools" id="loading_view2">
								<a class="expand" href="" id="showHideEdit" />
							</div>
						</div>
						<div class="portlet-body" id ="contentEdit" style="display: none;">
							<form action="#" class="form-horizontal">
								<div class="form-body" enctype="multipart/form-data">
									<div class="form-group">
										<label class="col-md-4 control-label">Tên bộ sưu tập <span style="color: red">(*)</span>:</label>
										<div class="col-md-8">
											<input type="text" class="form-control input-circle" placeholder="Tên nhóm" id="categoryName">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Mô tả:</label>
										<div class="col-md-8">
											<textarea id = "txtMota" class="form-control" rows="3"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-4 control-label"></label>
										<div class="col-md-3">
											<div class="btn-group">
												<a class="btn green circle" onclick="seoEditor()"  data-toggle="modal" href="#editSEO">Cấu hình SEO</a>
											</div>
										</div>
										<div class="col-md-4">
											<label class="control-label" id="helperSEO"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-4 control-label">Ảnh đại diện<span style="color: red">(*)</span>: </label>
										<div class="col-md-8">
											<button type="button" class="btn blue circle" onclick="openCkFinder('#avatarProduct')">Chọn ảnh</button>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-4 control-label"></label>
										<img class="col-md-8" id = "avatarProduct" src="" width="100px">
									</div>

									<div class="form-group">
										<label class="col-md-4 control-label"></label>
										<div class="col-md-8">
											<label class="control-label" style="color: red" id="groupProductMessage">(*) : Bắt buộc phải nhập không được để trống</label>
										</div>	
									</div>
								</div>
								<div class="modal-footer">
									<label class="btn btn-circle blue" id="deleteGroup" style="float: left;">Xóa bộ sưu tập</label>
									<label class="btn btn-circle blue" id="submit">Tạo mới</label>
									<label class="btn btn-circle default" data-dismiss="modal" id="cancelEdit">Hủy bỏ</label>
								</div>
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									Danh sách sản phẩm
								</div>
								<div class="tools" id="loading_view">
									<a class="expand" href="" id="showHideProducts" />
								</div>
							</div>
							<div class="portlet-body" id ="productContent" style="display: none;" >
								<div class="table-toolbar">
								<div class="row">
									<div class="col-md-8">
										<div class="btn-group">
											<a class="btn green circle" data-toggle="modal" onclick="addProductGroup();" href="#addProductGroup">Thêm sản phẩm</a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="btn-group">
											<a class="btn green circle" onclick="clickRemove()"  data-toggle="modal" id="removeProduct" >Xóa sản phẩm</a>
										</div>
									</div>
								</div>
							</div>
							<div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
								<div class="dataTables_scrollHeadInner" style="box-sizing: content-box;">
									<div class="dataTables_scrollBody" id="bodyProduct" style="overflow: auto; height: 0px; width: 100%;">
										<table class="table table-striped table-hover dataTable no-footer" id="sample_5" role="grid" aria-describedby="sample_5_info" style="width: 100%;">
											<thead>
												<tr>
													<th>
														<input id = "chooseAll" onchange="checkClick('ALL');" type="checkbox">
													</th>
													<th style="text-align: center;">
														STT
													</th>
													<th style="text-align: center;">
														Tên sản phẩm
													</th>
													<th width="22%" style="text-align: center;">
														Mã sản phẩm
													</th>
												</tr>
											</thead>
											<tbody id="tableContent">
											
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9 col-sm-12">
									<div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
								</div>
							</div>
						</div>
					</div>


					<div class="modal fade bs-modal-lg" id="addProductGroup" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">Chọn sản phẩm thêm vào bộ sưu tập</h4>
								</div>
								<div class="modal-body">
									<div class="portlet-body" id ="productContent" >
										<div class="table-toolbar">
											<div class="row">
												<label class="col-md-4 control-label" id="totalChoose">Đã chọn: 0 sản phẩm</label>
											
												<div class="col-md-4">
													<input type="text" class="form-control input-circle" placeholder="Tìm kiếm sản phẩm" id="searchProduct">
												</div>
											</div>
										</div>
										<div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
											<div class="dataTables_scrollHeadInner" style="box-sizing: content-box;">
												<div class="dataTables_scrollBody" style="overflow: auto; height: 500px; width: 100%;">
													<table class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="sample_5_info" style="width: 100%;">
														<thead>
															<tr>
																<th>
																	<input id = "chooseAddAll" onchange="checkAddClick('ALL');" class = "addProduct" type="checkbox">
																</th>
																<th >
																	STT
																</th>
																<th style="text-align: center;">
																	Tên sản phẩm
																</th>
																<th width="22%" >
																	Mã sản phẩm
																</th>
															</tr>
														</thead>
														<tbody id="tableContentAdd">

														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="dataTables_info" id="totalResultAdd" role="status" aria-live="polite"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<label class="btn btn-circle blue"  onclick="clickAddNewProduct()" id="submit">Thêm vào bộ sưu tập</label>
									<label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
