<script src="assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/cms/scripts/comments.js"/>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<link href="assets/cms/css/custom.css" rel="stylesheet" type="text/css"/>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#commentList">Quản lý bình luận</a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Danh sách bình luận
            </div>
            <div class="tools" id="loading_view">
                <img src="loading.gif" width="30px" height="30px">
            </div>
        </div>
        <div class="portlet-body">

            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Loại bình luận:</label>
                            <div class="col-md-4">
                                <select id="cmtCate" class="form-control input-circle" data-placeholder="Select..." tabindex="-1" title="">
                                    <option value="0">Tất cả</option>
                                    <option value="1">Tin tức</option>
                                    <option value="2">Sản phẩm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên người sử dụng
                        </th>
                        <th>
                            Nội dung
                        </th>
                        <th>
                            Link bài viết
                        </th>
                        <th>
                            Kiểm duyệt
                        </th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody id="tableContent">

                </tbody>
            </table>

            <div class="form-group">
                <label class="control-label" id="category_message">Tin nhắn</label>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
                </div>
                <div class="col-md-7 col-sm-12" id="contentPageX">
                    <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                        <ul class="pagination" style="visibility: visible;" id="pageNumber" ></ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade bs-modal-lg" id="commentBox" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Kiểm duyệt bình luận</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="form-horizontal">
                            <div class="form-body" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tên người bình luận:</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control input-circle" disabled placeholder="" id="cmTen">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Email:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-circle" disabled placeholder="" id="cmEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nội dung:</label>
                                    <div class="col-md-6">
                                        <textarea class="ckeditor form-control" id="cmNoiDung" name="cmNoiDung" disabled rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kiểm duyệt:</span></label>
                                    <div class="col-md-6">
                                        <div class="can-toggle">
                                          <input id="a" type="checkbox">
                                          <label for="a">
                                            <div class="can-toggle__switch" data-checked="Duyệt" data-unchecked="Không"></div>
                                          </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <label class="btn btn-circle blue" id="submit">Lưu</label>
                                <label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade bs-modal-lg" id="largeImg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <center><img id="imgSelected" width="50%"></center>
                </div>
            </div>
        </div>
    </div>
</div>