<script src="assets/cms/scripts/editMenu.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<link href="assets/cms/css/custom.css" rel="stylesheet" type="text/css"/>
				<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Trang chủ</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#editMenu">Quản lý menu</a>
					</li>
				</ul>
				<!-- <div class="page-toolbar">
					<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
					</div>
				</div> -->
			</div>
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Danh sách Menu
							</div>
							<div class="tools" id="loading_view">
								<img src="loading.gif" width="30px" height="30px">
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" href="#large">Tạo mới</a>
										</div>
										<!--div class="btn-group">
											<button id="deleteAllCategory" class="btn green delete circle" onclick="deleteAll()">
											Xóa tất cả <i class="fa fa-trash-o"></i>
											</button>
										</div-->
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_1">
							<thead>
							<tr style="text-align: center;">
								<th width="5%" style="text-align: center;">
									 STT
								</th>
								<th width="15%" style="text-align: center;">
									 Tên Menu
								</th>
								<th width="12%" style="text-align: center;">
									 Loại Menu
								</th>
								<th width="13%" style="text-align: center;">
									 URL
								</th>
								<th width="15%" style="text-align: center;">
									Menu Cha
								</th>
								<th width="10%" style="text-align: center;">
									Hiển thị
								</th>
								<th width="15%" style="text-align: center;">
									Thao tác
								</th>
							</tr>
							</thead>
							<tbody id="tableContent">
							
							</tbody>
							</table>
							<div class="form-group">
								<label class="control-label" id="category_message">Tin nhắn</label>
							</div>
							<div class="row">
								<div class="col-md-5 col-sm-12">
									<div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
								</div>
								<div class="col-md-7 col-sm-12" id="contentPageX">
									<div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
										<ul class="pagination" style="visibility: visible;" id="pageNumber" >
										</ul></div></div></div>
						</div>
					</div>

					<div class="modal fade bs-modal-lg" style="overflow:hidden;scroll-behavior: [ auto | smooth ];scroll-snap-points-y: repeat(100%); scroll-snap-type: mandatory; scroll-snap-destination: 100% 0%;" id="large" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Thêm danh mục tin tức</h4>
										</div>
										<div class="modal-body">
											 <form action="#" class="form-horizontal">
											<div class="form-body" enctype="multipart/form-data">
												<div class="form-group">
													<label class="col-md-3 control-label">Tiêu đề Menu <span style="color: red;">(*)</span>:</label>
													<div class="col-md-6">
														<input type="text" class="form-control input-circle" placeholder="Tên tiêu đề" id="dataEditName">
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">URL<span style="color: red;">(*)</span>:</label>
													<div class="col-md-6">
														<input type="text" class="form-control input-circle" placeholder="Url rút gọn" id="dataEditURL">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label"/>
													<label class="col-md-8 control-label" style = "text-align: left;" id="helperURL"/>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Loại Menu<span style="color: red;">(*)</span>:</label>
													<div class="col-md-6">
														<select class="form-control input-circle" id="loaiMenu">
															<option value="-1">Chọn loại Menu</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Danh mục hiển thị</label>
													<div class="col-md-6">
														<select class="form-control input-circle" id="listCategory">
															<option value="0">Chọn danh mục để hiển thị</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label">Menu Cha</label>
													<div class="col-md-6">
														<select class="form-control input-circle" id="listParent">
															<option value="0">Chọn Menu cha</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"></label>
													<div class="col-md-6">
														<label><input id="dataEditShow" type="checkbox" value="">Hiển thị</label>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"></label>
													<div class="col-md-2">
														<div class="btn-group">
															<a class="btn green circle" onclick="seoEditor()">Cấu hình SEO</a>
														</div>
													</div>
													<div class="col-md-4">
														<label class="control-label" id="helperSEO"/>
													</div>
												</div>

												<div class="form-group">
														<label class="col-md-3 control-label">ICON Menu </label>
														<div class="col-md-6">
															<button type="button" class="btn blue circle" onclick="openCkFinder('#avatarProduct')">Chọn ảnh</button><br>
														</div>
														
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"></label>
														<img class="col-md-6" id = "avatarProduct" src="" width="100px">
												</div>

												<div class="form-group">
													<label class="col-md-3 control-label"></label>
													<div class="col-md-6">
														<label class="control-label" style="color: red;"id="productMessage">(*) Phần bắt buộc phải nhập</label>
													</div>	
												</div>
											</div>
											<div class="modal-footer">
											<label class="btn btn-circle blue" id="submit">Tạo mới</label>
											<label class="btn btn-circle default" id="closePopup2" data-dismiss="modal">Hủy bỏ</label>
										</div>
										</form>
										</div>
										
									</div>
								</div>
							</div>
				</div>