
			<div class="row">
				<div class="col-md-12 page-404">
					<div class="number">
						 404
					</div>
					<div class="details">
						<h3>Oops! Trang không tồn tại.</h3>
						<p>
							 Vui lòng thử lại trang khác.<br/>
							<a href="index.html">
							Quay lại trang chủ </a>
						</p>
					</div>
				</div>
			</div>