<script src="assets/cms/scripts/filterList.js" type="text/javascript"></script>
<div class="col-md-9">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box green">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-globe"></i>Danh sách BỘ LỌC
			</div>
			<div class="tools" id="loading_view">
				<img src="loading.gif" width="30px" height="30px">
			</div>
		</div>
		<div class="portlet-body">
			<div class="table-toolbar">
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group">
							<a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" href="#large">Tạo mới</a>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-striped table-bordered table-hover" id="sample_1">
				<thead>
					<tr>
						<th width="30%">
							Tên bộ lọc
						</th>
						<th width="30%">
							Hình thức
						</th>
						<th width="30%">
							Thao tác
						</th>
					</tr>
				</thead>
				<tbody id="tableContent">
					
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
				</div>
				<div class="col-md-7 col-sm-12" id="contentPageX">
					<div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
						<ul class="pagination" style="visibility: visible;" id="pageNumber" >
						</ul></div></div></div>
					</div>
				</div>
				<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Thêm Bộ Lọc</h4>
							</div>
							<div class="modal-body">
								<form action="#" class="form-horizontal">
									<div class="form-body" enctype="multipart/form-data">
										<div class="form-group">
											<label class="col-md-4 control-label">Mã thuộc tính<span style="color: red">(*)</span>:</label>
											<div class="col-md-7">
												<input type="text" class="form-control input-circle" placeholder="Field của sản phẩm được dùng để so sánh giá trị. VD: gia_banle" id="filterCode">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label">Tên Bộ Lọc <span style="color: red">(*)</span>:</label>
											<div class="col-md-4">
												<input type="text" class="form-control input-circle" placeholder="Tên Bộ Lọc" id="filterName">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label">Hình thức <span style="color: red">(*)</span></label>
											<div class="col-md-6">
												<select class="form-control input-circle" id="listOption">
													<option value="ALL">Chọn hình thức lọc</option>
													<option value="DROP">Chọn 1 giá trị (DROP MENU)</option>
													<option value="CHECK">Chọn nhiều giá trị (CHECK BOX)</option>
													<option value="SELECT">Chọn 1 giá trị (OPTION CHECK)</option>
													<option value="INPUT">Nhập giá trị (INPUT BOX)</option>
													<option value="MULTI_INPUT">Khoảng giá trị (2 INPUT BOX)</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label">Truy vấn</span></label>
											<div class="col-md-6">
												<textarea id = "filterSQL" class="form-control" rows="3"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label"></label>
											<div class="col-md-6">
												<label class="control-label" style="color: red" id="filterMessage">(*) : Bắt buộc phải nhập không được để trống</label>
											</div>	
										</div>
									</div>
									<div class="modal-footer">
										<label class="btn btn-circle blue" id="submit">Tạo mới</label>
										<label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
									</div>
								</form>
							</div>
							
						</div>
					</div>
				</div>

				<div class="modal fade bs-modal-lg" id="largeImg" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-body">
							<center><img id="imgSelected" width="50%"></center>
						</div>
					</div>
				</div>
			</div>