<script type="text/javascript" src="assets/cms/scripts/customers.js"/>

<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Trang chủ</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#listCustomers">Quản lý khách hàng</a>
		</li>
	</ul>
</div>
<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Danh sách khách hàng
            </div>
            <div class="tools" id="loading_view">
                <img src="loading.gif" width="30px" height="30px"/>
            </div>
        </div>
        
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-4">
                        <!--div class="btn-group">
                            <a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" href="#large">Tạo mới</a>
                        </div-->
<!--                        <div class="btn-group">
                            <button id="deleteAllCategory" class="btn green delete circle" onclick="deleteAll()">
                                Xóa tất cả <i class="fa fa-trash-o"></i>
                            </button>
                        </div>-->
                    </div>
                    <div class="col-md-4">
                        <div class="autocomplete">
                            <input id="customerRoot" type="text" class="form-control input-circle" 
                                   name="customerRoot" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn green circle" onclick="clickSearch()"  data-toggle="modal" href="#search">Tìm kiếm</a>
                    </div>
                </div>
            </div>
            
            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
						<th>
                            STT
                        </th>
                        <th>
                            Mã khách hàng
                        </th>
                        <th>
                            Mã tham chiếu
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            ID thẻ
                        </th>
                        <th>
                            Số ĐT
                        </th>
<!--                        <th>
                            Trạng thái
                        </th>-->
                        <th>
                            Mã ĐVQL
                        </th>
                        <th>
                            Doanh số
                        </th>
                    </tr>
                </thead>
                <tbody id="tableContent">

                </tbody>
            </table>
            
            <!--div class="form-group">
                <label class="control-label" id="category_message">Tin nhắn</label>
            </div-->
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
                </div>
                <div class="col-md-7 col-sm-12" id="contentPageX">
                    <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                        <ul class="pagination" style="visibility: visible;" id="pageNumber" ></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>