<script type="text/javascript" src="assets/cms/scripts/newList.js"/>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<script src="assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#commentList">Quản lý tin tức</a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Danh sách tin tức
            </div>
            <div class="tools" id="loading_view">
                <img src="loading.gif" width="30px" height="30px">
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="btn-group">
                            <a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" >Tạo mới</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="autocomplete">
                            <input id="newsRoot" type="text" class="form-control input-circle" 
                                   name="newsRoot" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn green circle" onclick="clickSearch()"  data-toggle="modal" href="#search">Tìm kiếm</a>
                    </div>
                </div>
            </div>

                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th width="5%" style="text-align:center;">
                                STT
                            </th>
                            <th width="20%" style="text-align:center;">
                                Tên bài
                            </th>
                            <th width="10%" style="text-align:center;">
                                Danh mục
                            </th>
                            <th width="15%" style="text-align:center;">
                                Tags
                            </th>
                            <th width="25%" style="text-align:center;">
                                Tóm tắt
                            </th>
                            <th width="10%" style="text-align:center;">
                                Hình ảnh
                            </th>
                            <th width="15%" style="text-align:center;">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">

                    </tbody>
                </table>

                <div class="form-group">
                    <label class="control-label" id="category_message">Tin nhắn</label>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-md-7 col-sm-12" id="contentPageX">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="pageNumber" ></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-modal-lg" id="createNews" role="dialog" aria-hidden="true" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Thêm mới</h4>
                    </div>

                    <div class="modal-body" id="detailSettingSites">
                        <form action="#" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Chọn danh mục <span style="color: red">(*)</span>:</label>
                                <div class="col-md-6">
                                    <select class="form-control input-circle" id="listInputParent">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-body" enctype="multipart/form-data" style="display: none;">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tiêu đề bài viết <span style="color: red">(*)</span>:</label>
                                    <div class="col-md-6">
                                        <input type="hidden" id="newsId" value="0" />
                                        <input type="text" class="form-control input-circle" placeholder="Tiêu đề bài viết" id="newsTitle"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mô tả <span style="color: red">(*)</span>:</label>
                                    <div class="col-md-9">
                                        <textarea class="ckeditor form-control" name="newsSummary" rows="6"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Ảnh đại diện <span style="color: red">(*)</span>:</label>
                                    <div class="col-md-6">
                                        <button type="button" class="btn blue circle" onclick="openCkFinder('#newsImage')">Chọn ảnh</button>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <img class="col-md-4" id = "newsImage" src="" width="100px">
                                </div>

                                <div class="form-group last">
                                    <label class="control-label col-md-3">Nội dung <span style="color: red">(*)</span>:</label>
                                    <div class="col-md-9">
                                        <textarea class="ckeditor form-control" name="newsContent" rows="6"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn green circle" onclick="seoEditor()" data-toggle="modal" href="#editSEO" >Cấu hình SEO</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" id="helperSEO"/>
                                    </div>
                                </div>
                                
                                <div class="form-group ui-widget">
                                    <label class="col-md-3 control-label">TAGS</label>
                                    <div class="col-md-9">
                                        <input type="hidden" class="form-control input-circle" id="newsTags"/>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-4">
                                        <label class="control-label" style="color: red" id="newsMessage">(*) Phần không được để trống</label>
                                    </div>  
                                </div>
                            </div>

                            <div class="modal-footer">
                                <label class="btn btn-circle blue" id="submit">Tạo mới</label>
                                <label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-modal-lg" id="largeImg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">
                    <center><img id="imgSelected" width="50%"></center>
                </div>
            </div>
        </div>
    </div>
</div>