<script type="text/javascript" src="assets/cms/scripts/product_detail.js"/>
<script src="assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<script src="assets/global/plugins/jstree/dist/jstree.min.js"></script>	
<link rel="stylesheet" type="text/css" href="assets/global/plugins/jstree/dist/themes/default/style.min.css">
<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Trang chủ</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#editMenu">Quản lý sản phẩm</a>
					</li>
				</ul>
				<!-- <div class="page-toolbar">
					<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
						<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
					</div>
				</div> -->
			</div>

			<div class="col-md-3">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-globe"></i>Danh sách nhóm hàng hóa
						</div>
						<div class="tools" id="loading_view">
							<img src="loading.gif" width="30px" height="30px">
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-toolbar">
							</div>
								<div id="treeGroup" class="tree-demo"></div>
						</div>
					</div>
					
				</div>


				<div class="col-md-9">
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Danh sách SẢN PHẨM
							</div>
							<div class="tools" id="loading_view">
								<img src="loading.gif" width="30px" height="30px">
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-4">
										<div class="btn-group">
											<a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" href="#large">Tạo mới</a>
										</div>
										
									</div>
									<div class="col-md-3">
					                        <div class="autocomplete">
					                            <input id="productSearch" type="text" class="form-control input-circle" 
					                                   name="productSearch" placeholder="Tìm kiếm">
					                        </div>
					                    </div>
					                    <div class="col-md-3">
					                        <a class="btn green circle" onclick="clickSearch()"  data-toggle="modal" href="#search">Tìm kiếm</a>
					                    </div>
								</div>
							</div>
							<table class="table table-striped table-bordered table-hover" id="sample_1">
							<thead>
							<tr>
								<th style="text-align: center;">
									STT
								</th>
								<th style="text-align: center;">
									Tên sản phẩm
								</th>
								<th width="15%" style="text-align: center;">
									Mã sản phẩm
								</th>
								<th width="10%" style="text-align: center;">
									Trạng thái
								</th>
								<th width="10%" style="text-align: center;">
									Giá
								</th>
								<th width="10%"  style="text-align: center;">
									Ảnh
								</th>
								<th width="18%"  style="text-align: center;">
									Thao tác
								</th>
							</tr>
							</thead>
							<tbody id="tableContent">
							
							</tbody>
							</table>
							<div class="form-group">
								<label class="control-label" id="category_message">Tin nhắn</label>
							</div>
							<div class="row">
								<div class="col-md-5 col-sm-12">
									<div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
								</div>
								<div class="col-md-7 col-sm-12" id="contentPageX">
									<div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
										<ul class="pagination" style="visibility: visible;" id="pageNumber" >
										</ul></div></div></div>
						</div>
					</div>
					<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true" >
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Thêm mới sản phẩm</h4>
										</div>
										<div class="modal-body">
											 <form action="#" class="form-horizontal">
											<div class="form-body" enctype="multipart/form-data">
												<div class="form-group">
													<label class="col-md-4 control-label">Chọn danh mục cha:</label>
													<div class="col-md-6">
														<input id="productRootId" type="text" class="form-control input-circle" style="display: none" name="productRootId" placeholder="Chọn sản phẩm từ danh mục cha">
														<div class="autocomplete">
														    <input id="productRoot" type="text" class="form-control input-circle" name="productRoot" placeholder="Chọn sản phẩm từ danh mục cha">
														 </div>
													</div>
												</div>
												<div id="detailProduct">
													<div class="form-group">
														<label class="col-md-4 control-label">Mã sản phẩm <span style="color: red">(*)</span>:</label>
														<div class="col-md-6">
															<input type="text" class="form-control input-circle" disabled placeholder="Mã sản phẩm (Hệ thống sẽ tạo tự động)" id="productCode">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Tên sản phẩm hiển thị <span style="color: red">(*)</span>:</label>
														<div class="col-md-6">
															<input type="text" class="form-control input-circle" placeholder="Tên sản phẩm" id="productName">
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-4 control-label">Giá <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<input type="text" class="form-control input-circle" disabled placeholder="Giá (*)" id="productGia">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Giá trị khuyến mại <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<input type="text" class="form-control input-circle" placeholder="Giá trị khuyến mại(*)" id="productGiaTri">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Giá niêm yết <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<input type="text" class="form-control input-circle" placeholder="Giá Niêm Yết (*)" id="productGiaNiemYet">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Sale <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<input type="text" class="form-control input-circle" placeholder="Giá Sale (*)" id="productSale">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">VAT <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<input type="text" class="form-control input-circle" placeholder="VAT (*)" id="productVat">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Mô tả <span style="color: red">(*)</span>:</label>
														<div class="col-md-8">
															<textarea name = "productDes"  class="ckeditor form-control" rows="5"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label">Mô tả Chi tiết<span style="color: red">(*)</span>:</label>
														<div class="col-md-8">
															<textarea name = "productDesDetail"  class="ckeditor form-control" rows="5"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label"></label>
														<div class="col-md-2">
															<input id="productNew" type="checkbox" value=""><label>&nbsp;Sản phẩm mới</label>
														</div>
														<div class="col-md-2">
															<input id="productGift" type="checkbox" value=""><label>&nbsp;Quà tặng</label>
														</div>
														<div class="col-md-2">
															<input id="productSpecial" type="checkbox" value=""><label>&nbsp;Nổi bật</label>
														</div>
														<div class="col-md-2">
															<input id="productShow" type="checkbox" value=""><label>&nbsp;Hiển thị</label>
														</div>
													</div>
													<div class="form-group" id="groupListCollection">
														<label class="col-md-4 control-label">Thêm vào bộ sưu tập:</label>
														<div class="col-md-5">
															<select class="form-control input-circle" id="listCollection">
																<option value="0">Chọn bộ sưu tập</option>
															</select>
														</div>
													</div>
													<div class="form-group" id="groupListGroup">
														<label class="col-md-4 control-label">Thêm vào nhóm hàng hóa <span style="color: red">(*)</span>:</label>
														<div class="col-md-5">
															<select class="form-control input-circle" id="listGroup">
																<option value="0">Chọn nhóm hàng hóa</option>
															</select>
														</div>
													</div>
														<div class="form-group">
															<label class="col-md-4 control-label">Thuộc tính sản phẩm:</label>
															<div class="col-md-1">
																<a class="btn green circle" onclick="addNewProperty();">Thêm&nbsp;<i class="fa fa-plus"></i></a>
															</div>
														</div>
														<div id="productProperties"></div>
													
													<div class="form-group" id="groupTrangThaiBG">
														<label class="col-md-4 control-label">Trạng thái bản ghi:</label>
														<div class="col-md-4">
															<select class="form-control input-circle" id="listTrangThaiBG">
																<option value="0">Chọn trạng thái bản ghi</option>
															</select>
														</div>
													</div>
													<div class="form-group" id="groupTrangThaiNV">
														<label class="col-md-4 control-label">Trạng thái nghiệp vụ:</label>
														<div class="col-md-4">
															<select class="form-control input-circle" id="listTrangThaiNV">
																<option value="0">Chọn trạng thái nghiệp vụ</option>
															</select>
														</div>
													</div>
													<div class="form-group" id="groupValue">
														<label class="col-md-4 control-label">Tình trạng hàng hóa <span style="color: red">(*)</span>:</label>
														<div class="col-md-4">
															<select class="form-control input-circle" id="listValue">
																<option value="0">Chọn trạng thái Hàng hóa</option>
															</select>
														</div>
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label">Ảnh đại diện sản phẩm <span style="color: red">(*)</span>: </label>
															<div class="col-md-4">
																<button type="button" class="btn blue circle" onclick="openCkFinder('#productImage')">Chọn ảnh</button>
															</div>
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label">Mô tả ảnh đại diện:</label>
															<div class="col-md-4">
																<input type="text" class="form-control input-circle" placeholder="Mô tả ảnh đại diện" id="productImageAlt">
															</div>
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label"></label>
														<img class="col-md-4" id = "productImage" src="" width="100px">
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label">Ảnh sản phẩm: </label>
															<div class="col-md-1">
																<button type="button" class="btn blue circle" onclick="openCkFinder('#productImage1')">Ảnh 1</button>
															</div>
															<div class="col-md-4">
																<input type="text" class="form-control input-circle" placeholder="Mô tả ảnh 1" id="productImageAlt1">
															</div>
															
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label"></label>
															<div class="col-md-1">
																<button type="button" class="btn blue circle" onclick="openCkFinder('#productImage2')">Ảnh 2</button>
															</div>
															
															<div class="col-md-4">
																<input type="text" class="form-control input-circle" placeholder="Mô tả ảnh 2" id="productImageAlt2">
															</div>
															
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label"></label>
															<div class="col-md-1">
																<button type="button" class="btn blue circle" onclick="openCkFinder('#productImage3')">Ảnh 3</button>
															</div>
															
															<div class="col-md-4">
																<input type="text" class="form-control input-circle" placeholder="Mô tả ảnh 3" id="productImageAlt3">
															</div>
															
													</div>
													<div class="form-group">
															<label class="col-md-4 control-label"></label>
															<div class="col-md-1">
																<button type="button" class="btn blue circle" onclick="openCkFinder('#productImage4')">Ảnh 4</button>
															</div>
															
															<div class="col-md-4">
																<input type="text" class="form-control input-circle" placeholder="Mô tả ảnh 4" id="productImageAlt4">
															</div>
															
													</div>
													<div class="form-group">
														<label class="col-md-4 control-label"></label>
															<img class="col-md-2" id = "productImage1" src="" >
															<img class="col-md-2" id = "productImage2" src="" >
															<img class="col-md-2" id = "productImage3" src="" >
															<img class="col-md-2" id = "productImage4" src="" >
														
													</div>

													<div class="form-group">
														<label class="col-md-4 control-label"></label>
														<div class="col-md-2">
															<div class="btn-group">
																<a class="btn green circle" onclick="seoEditor()"  data-toggle="modal" href="#editSEO">Cấu hình SEO</a>
															</div>
														</div>
														<div class="col-md-4">
															<label class="control-label" id="helperSEO"/>
														</div>
													</div>
													<div class="form-group">
					                                    <label class="col-md-4 control-label">TAGS <span style="color: red">(*)</span>:</label>
					                                    <div class="col-md-6">
					                                        <input type="text" class="form-control input-circle" placeholder="Tags sản phẩm" id="productTags"/>
					                                    </div>
					                                </div>
													<div class="form-group">
														<label class="col-md-4 control-label"></label>
														<div class="col-md-4">
															<label class="control-label" style="color: red" id="productMessage">(*) Phần không được để trống</label>
														</div>	
													</div>
												</div>
											</div>
											<div class="modal-footer">
											<label class="btn btn-circle blue" id="submit">Tạo mới</label>
											<label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
										</div>
										</form>
										</div>
										
									</div>
								</div>
							</div>

							<div class="modal fade bs-modal-lg" id="largeImg" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-body">
										<center><img id="imgSelected" width="50%"></center>
									</div>
								</div>
							</div>


					
				</div>