<script src="assets/cms/scripts/seoHome.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#seoHome">Cấu hình SEO TRANG CHỦ</a>
        </li>
    </ul>
</div>


                <div class="col-md-6">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption" id="titleDetail">
                                Cấu hình SEO TRANG CHỦ
                            </div>
                        </div>
                        <div class="portlet-body" style="display: block;">
                            <form action="#" class="form-horizontal">
                                <div class="form-body" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tiêu đề:</label>
                                        <div class="col-md-8">
                                            <input style="display: none;" type="text" class="form-control input-circle" hidden placeholder="Phân loại seo" id="seoHomeType">
                                            <input type="text" class="form-control input-circle" maxlength="70" placeholder="Tiêu đề SEO (*)" id="seoHomeTitle">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Link rút gọn:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-circle" placeholder="Slug" id="seoHomeSlug">
                                            <span class="help-block" id="helpHomeSlug"></span>
                                        </div>
                                        <div class="col-md-3">
                                           <label id="checkHomeSlug" class="btn btn-circle blue">Kiểm tra</label>
                                       </div>
                                   </div>

                                   <div class="form-group">
                                        <label class="col-md-3 control-label">Mô tả</label>
                                        <div class="col-md-8">
                                            <textarea id = "seoHomeDescription" class="form-control" rows="3" maxlength="299"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Key Works <span style="color: red;">(*)</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-circle" placeholder="Key Works" id="seoHomeKeyWorks">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-2">
                                            <button type="button" class="btn blue circle" onclick="openCkFinder('#seoHomeImage')">Chọn OG Image</button>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-circle number-input" placeholder="Width" id="seoHomeOGWIDTH">
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-circle number-input" placeholder="Height" id="seoHomeOGHEIGHT">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>

                                        <div class="col-md-4">
                                            <img  id = "seoHomeImage" src="http://mascom.vn:8085/favicon.ico" width="50px" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-circle" placeholder="OG Site Name" id="seoHomeOGSITE">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-circle" placeholder="OG Type" id="seoHomeOGTYPE">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-circle" placeholder="Twitter Card" id="seoHomeTwitterCard">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-circle" placeholder="OG Locale" id="seoHomeOGLOCALE">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6">
                                            <label class="control-label" style= "color: red;" id="seoHomeMessage">(*) Phần bắt buộc phải nhập</label>
                                        </div>  
                                    </div> 
                                </div>
                                <div class="modal-footer">
                                    <label id="submitHomeSEO" class="btn btn-circle blue">Lưu</label>
                                    <label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
                                </div>
                            </div>
                        </div>

                    </div>