﻿<script type="text/javascript" src="assets/cms/scripts/settings_template.js"/>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<div class="col-md-6 ">
	<!-- BEGIN SAMPLE FORM PORTLET-->
	<div class="portlet box green ">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"></i> Cấu hình giao diện
			</div>
			<div class="tools">
				<a href="" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body form">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Domain Site:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfDomainSite" placeholder="Tên miền của Shop">
							<span class="help-block">
							Tên miền của Shop không được để trống.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Menu đặc biệt</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfSpecialSlug" placeholder="Slug của Menu đặc biệt">
							<span class="help-block">
							Copy link rút gọn của Menu trong danh mục Menu</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Hot Line:</label>
						<div class="col-md-9">
							<input type="text" class="form-control input-inline input-medium circle" id="cfHotLine" placeholder="Hot line">
							<span class="help-inline">
							Số điện thoại đường dây nóng.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Facebook:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfFBLink" placeholder="Facebook link">
							<span class="help-inline">
							Link kết nối tới Facebook của shop.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Youtube:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfYTLink" placeholder="Youtube link">
							<span class="help-inline">
							Link kết nối tới kênh Youtube của shop.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Bài giới thiệu:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfAbout" placeholder="Link bài viết giới thiệu">
							<span class="help-inline">
							Link kết nối tới bài viêt giới thiệu về shop.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Hệ thống của hàng:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfShops" placeholder="Link bài viết &quot;Hệ thống của hàng&quot;">
							<span class="help-inline">
							Link kết nối tới bài viêt giới thiệu về "Hệ thống của hàng".</span>
						</div>
					</div>
					<div id="listFooter">
						
					</div>
					<div id="listBanner">
						
					</div>
					<div id="listBank">
						
					</div>
					
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<label class="btn green circle" id="cfSave">Lưu</label>
								<label class="btn default circle" id="cfCancel">Hủy bỏ</label>
							</div>
						</div>
					</div>
				
			</div></form>
		</div>

	</div>

</div>
<div class="col-md-6 " >
	<!-- BEGIN SAMPLE FORM PORTLET-->
	<div class="portlet box green ">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"> </i> Thêm/ chỉnh sửa tài khoản ngân hàng
			</div>
			<div class="tools">
				<a href="" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body form" id="formBanking">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Chủ tài khoản:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfBankName" placeholder="Tên chủ tài khoản">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Chi nhánh ngân hàng:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfBankAddress" placeholder="Chi nhánh ngân hàng">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Số tài khoản:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfBankAccount" placeholder="Số tài khoản">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Chọn logo Ngân hàng:</label>
						<div class="col-md-9">
							<label onclick="openCkFinder('#bankImage')"  class="btn green circle">Chọn ảnh</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label"></label>
						<img class="col-md-4" id="bankImage" src="" width="100px">
					</div>
					
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<label class="btn green circle" id="cfSaveBank">Lưu</label>
								<label class="btn default circle" id="cfCancelBank">Hủy bỏ</label>
							</div>
						</div>
					</div>

				</div></form>
			</div>

		</div>
	</div>

	<div class="col-md-6 " >
	<!-- BEGIN SAMPLE FORM PORTLET-->
	<div class="portlet box green ">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"> </i> Thêm/ chỉnh sửa bài viết cuối trang
			</div>
			<div class="tools">
				<a href="" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body form" id="formNotes">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Tiêu đề bài viết:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfOtherNewsTitle" placeholder="Tiêu đề bài viết">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Link bài viết:</label>
						<div class="col-md-9">
							<input type="text" class="form-control circle" id="cfOtherNews" placeholder="Link bài viết">
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<label class="btn green circle" id="cfSaveNote">Lưu</label>
								<label class="btn default circle" id="cfCancelNote">Hủy bỏ</label>
							</div>
						</div>
					</div>

				</div></form>
			</div>

		</div>
	</div>

	<div class="col-md-6 " >
	<!-- BEGIN SAMPLE FORM PORTLET-->
	<div class="portlet box green ">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-gift"> </i> Thêm/ chỉnh sửa banner
			</div>
			<div class="tools">
				<a href="" class="collapse">
				</a>
			</div>
		</div>
		<div class="portlet-body form" id="formBanner">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<div class="form-group">
						<label class="col-md-3 control-label">Chọn Banner:</label>
						<div class="col-md-9">
							<label onclick="openCkFinder('#bannerImage')"  class="btn green circle">Chọn ảnh</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label"></label>
						<img class="col-md-9" id="bannerImage" src="" >
					</div>

					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<label class="btn green circle" id="cfSaveBanner">Lưu</label>
								<label class="btn default circle" id="cfCancelBanner">Hủy bỏ</label>
							</div>
						</div>
					</div>

				</div></form>
			</div>

		</div>
	</div>