<script type="text/javascript" src="assets/cms/scripts/settings_site.js"/>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<script src="assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<!--<script type="text/javascript">
    
CKEDITOR.replace('editor1', {
    toolbar: [
        {name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates']}, // Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
        ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'], // Defines toolbar group without name.
        '/', // Line break - next group will be placed in new line.
        {name: 'basicstyles', items: ['Bold', 'Italic']}
    ]
});
</script>-->

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#settings_site">Cấu hình giao diện</a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Danh sách sites
            </div>
            <div class="tools" id="loading_view">
                <img src="loading.gif" width="30px" height="30px"/>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" href="#large">Tạo mới</a>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Tên site
                            </th>
                            <th>
                                IP
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Đơn vị quản lý
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">

                    </tbody>
                </table>

                <div class="form-group">
                    <label class="control-label" id="category_message">Tin nhắn</label>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-md-7 col-sm-12" id="contentPageX">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="pageNumber" ></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Thêm mới</h4>
                </div>

                <div class="modal-body" id="detailSettingSites">
                    <form action="#" class="form-horizontal">
                        <div class="form-body" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên site</label>
                                <div class="col-md-6">
                                    <input type="hidden" name="dataSiteId"/>
                                    <input type="text" class="form-control input-circle" placeholder="Tên site: maxi.vn" id="dataSiteName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">IP</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-circle" placeholder="IP: 103.18.6.23" id="dataSiteIP"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Trạng thái</label>
                                <div class="col-md-6">
                                    <label class="radio-inline"><input type="radio" name="dataSiteState" checked value="1">Active</label>
                                    <label class="radio-inline"><input type="radio" name="dataSiteState" value="0">InActive</label>
                                </div>
                            </div>

                            <div class="form-group last">
                                <label class="control-label col-md-3">Header</label>
                                <div class="col-md-9">
                                    <textarea class="ckeditor form-control" name="dataSiteHeader" rows="6"></textarea>

                                </div>
                            </div>

                            <div class="form-group last">
                                <label class="control-label col-md-3">Footer</label>
                                <div class="col-md-9">
                                    <textarea class="ckeditor form-control" name="dataSiteFooter" rows="6"></textarea>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <label class="btn btn-circle blue" id="submit">Tạo mới</label>
                            <label class="btn btn-circle default" data-dismiss="modal">Hủy bỏ</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-modal-lg" id="largeImg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <center><img id="imgSelected" width="50%"></center>
            </div>
        </div>
    </div>

</div>

