<script type="text/javascript" src="assets/cms/scripts/tags.js"/>
<script type="text/javascript" src="assets/cms/scripts/myckfinder.js"/>
<script src="assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#tags">Quản lý TAGS</a>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Danh sách TAGS
            </div>
            <div class="tools" id="loading_view">
                <img src="loading.gif" width="30px" height="30px">
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-3">
                        <div class="btn-group">
                            <a class="btn green circle" onclick="clickAddNew()"  data-toggle="modal" >Tạo mới</a>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="autocomplete">
                            <input id="dataSearch" type="text" class="form-control input-circle" 
                                   name="dataSearch" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn green circle" onclick="clickSearch()"  data-toggle="modal" href="#searchTags">Tìm kiếm</a>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <a class="btn green circle" onclick="clickRemove()"  data-toggle="modal" disabled id="removeTags" >Xóa TAGS</a>
                        </div>
                    </div>
                </div>
            </div>

                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th width="1%">
                                <input id = "chooseAll" onchange="checkClick('ALL');" type="checkbox">
                            </th>
                            <th width="5%" style="text-align:center;">
                                STT
                            </th>
                            <th style="text-align:center;">
                                Tags
                            </th>
                            <th width="5%" style="text-align:center;">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">

                    </tbody>
                </table>

                <div class="form-group">
                    <label class="control-label" id="category_message">Tin nhắn</label>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" id="totalResult" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-md-7 col-sm-12" id="contentPageX">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;" id="pageNumber" ></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>
<div class="col-md-4">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption" id="titleDetail">
                                Thêm mới/ Chỉnh sửa TAG
                            </div>
                            <div class="tools" id="loading_view2">
                                <a class="expand" href="" id="showHideEdit" />
                            </div>
                        </div>
                        <div class="portlet-body" id ="contentEdit" style="display: none;">
                            <form action="#" class="form-horizontal">
                                <div class="form-body" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">TAG <span style="color: red">(*)</span>:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-circle" placeholder="Keyword TAG" id="tagKeyword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Mô tả:</label>
                                        <div class="col-md-8">
                                            <textarea id = "tagDescription" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-8">
                                            <label class="control-label" style="color: red" id="tagsMessage">(*) : Bắt buộc phải nhập không được để trống</label>
                                        </div>  
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <div class="btn-group">
                                                <a class="btn green circle" id = "addSEO" onclick="seoEditor()" data-toggle="modal" href="#editSEO">Cấu hình SEO</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" id="helperSEO" style="display: none;"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <label class="btn btn-circle blue" id="submit">Tạo mới</label>
                                    <label class="btn btn-circle default" data-dismiss="modal" id="cancelEdit">Hủy bỏ</label>
                                </div>
                            </div>
                        </div>

                    </div>